{% extends "base.html" %}

{% block page_content %}

<div class="well well-lg page-title">
    Bienvenue
</div>

<div class="row translucent">
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <p class="lead">A propos de...</p>
                <p>Cette appplication permet de contrôler diverses expérimentations
                    relatives à la mise en o&oelig;uvre de capteurs de lumière pour :</p>
                <ul>
                    <li>détecter la présence d'un objet sans contact</li>
                    <li>distinguer un objet blanc d'un objet noir</li>
                    <li>distinguer des objets de couleurs différentes</li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p class="lead">Informations techniques :</p>
                <ul>
                    <li>serveur développé en <strong>Python</strong> sur la base du framework <a
                            href="http://www.tornadoweb.org">Tornado</a></li>
                    <li>programmation client :
                        <ul>
                            <li><a href="http://jquery.com/">jQuery</a></li>
                            <li><a href="http://jqueryvalidation.org/">plugin jQuery validation</a></li>
                        </ul>
                    </li>
                    <li>habillé par <a href="http://getbootstrap.com/">Bootstrap</a> et
                        <a href="http://bootswatch.com/slate/">Bootswatch Slate</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% end %}